<div class="container">
    <div class="row">
      <div class="offset-3"></div>
      <div class="col-md-6">
        <form name="form" #f="ngForm"  (ngSubmit)="sendFeedback()" novalidate class="feedback-form">
          <!-- Name -->
          <div class="form-group">
            <label for="name">Primeiro Name</label>
            <input type="text"
                   id="name"
                   class="form-control"
                   name="name"
                   placeholder="Seu nome"
                   [(ngModel)]="model.name"
                   #name="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                   required/>
            <!-- input validation group -->
            <div *ngIf="f.submitted && name.invalid" class="invalid-input">
              <!-- individual validation errors -->
              <div *ngIf="name.errors?.required">Campo é obrigatório</div>
            </div>
          </div>
          <!-- Email -->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text"
                   id="email"
                   class="form-control"
                   name="email"
                   placeholder="Seu email"
                   [(ngModel)]="model.email"
                   #email="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                   required email/>
            <!-- input validation group -->
            <div *ngIf="f.submitted && email.invalid" class="invalid-input">
              <!-- individual validation errors -->
              <div *ngIf="email.errors?.required">Campo é obrigatório</div>
              <div *ngIf="email.errors?.email">Campo email não é um emal válido</div>
            </div>
          </div>
  
          <!-- Feedback -->
          <div class="form-group">
            <label for="feedback">Comentário</label>
            <textarea
              id="feedback"
              class="form-control"
              name="feedback"
              placeholder="Seu comentário"
              rows="10"
              [(ngModel)]="model.feedback"
              #feedback="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && feedback.invalid }"
              required minlength="10">
            </textarea>
            <!-- input validation group -->
            <div *ngIf="f.submitted && feedback.invalid" class="invalid-input">
              <!-- individual validation errors -->
              <div *ngIf="feedback.errors?.required">Campo é obrigatório</div>
              <div *ngIf="feedback.errors?.minlength">Campo é muito pequeno (minímo 10 caracteres)</div>
            </div>
          </div>
  
          <button type="submit"  class="btn btn-info pull-right">
            <i class="fa fa-envelope-o"></i>
            <span> Enviar comentário</span>
          </button>
        </form>
      </div>
      <div class="offset-3"></div>
    </div>
  </div>
  